
.card-container{
    display: flex;
    width: 8em;
    height: 10em;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    /* flex-wrap:wrap; */
    flex-direction: column;

}
.card-image-container{
height: 80%; /*I don't know how this works, this param (whatever is set) does not apply to anything but without this line next does not work  */
    flex-grow: 1;
}
.card-image{
    width: 100%;
    height: 100%;
}
.short-name{
    width:  100%;
    height:fit-content;
    text-align: center;
    border-top: 1px solid black;
    background-color: aliceblue;
    align-self: flex-end;
}
.selected-param{
    height: 50%;
    border: 1px solid black;
}