body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div{box-sizing: border-box;}
.hidden{
  display: none;
}

.body{
  width: 100vw;
  height: 100vh;
  min-width: 20em;
  min-height: 20em;
  max-width: 120em;
  max-height: 100em;
}


.top-panel{ 
  width: 100%;
  position: fixed;
  top:0;
  height: 2em;
  background-color:#202020;
  color: white;
  display: flex;
  z-index: 100;
  justify-content: space-between;
}

.main-page{
  position: relative;
  background-color: antiquewhite;
  width: 100%;
  height: 100%;
  padding-top: 2em;
 }








