/* .container{
 overflow-y: auto;
}
.title{
    padding-top: 5%;
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: 125%;
}
.refname{
 font-style: italic;
 font-size: 80%;
 display: block;
 text-align: center;
}
.parameter-container{
    display: block;
    padding: 1em;
}
.parameter-item{
    display: block;
    width: 100%;
    text-align: center;
    margin: 1.5em 0;
    display: flex;
    flex-wrap: wrap;
}

.item-label{
 font-style: italic;
 font-weight: bold;
 margin-right: 2em;
}
.item-value{
 font-size: inherit;
} */